* { 
  box-sizing: border-box;
}

body {
  font-family: "Bubblegum Sans", cursive;
  max-height: 100vh;
  background-color: #0dcaf0;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.header{
  min-height: 10vh;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: rgba(0, 0, 0, .85) ;
}

.nav {
  max-width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

a{
  color: #8e8e8e;
}

#link_logo {
  margin-top: 0;
  margin-bottom: 0;
}

#link_home,
#link_product,
#link_contact {
  margin-top: 23.25px;
  margin-bottom: 23.25px;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
}

#home{
  position: relative;
  overflow: hidden;
  text-align: center;
  background-color: #f8f9fa;
  padding: 16px;
}

.info{
  margin: 48px 0;
}

p{
  font-size: 20px;
  font-weight: 300;
}

.anchor{
  display: inline-block;
  border: 1px solid rgb(13, 110, 253);
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 4px;
  text-decoration-line: none;
  color: rgb(255, 255, 255);
  background-color: rgb(13, 110, 253);
}

.coffee-beans-image{
  height: 400px;
}

#product{
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin-top: 16px;
  margin-bottom: 16px;
  align-self: center;
}

#col-1{
  flex: 1 1 0%;
  background-color: #000;
  text-align: center;
  color: rgb(255, 255, 255);
  overflow: hidden;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 48px;
  margin-right: 16px;
}

#col-2 {
  flex: 1 1 0%;
  background-color: rgb(248, 249, 250);  
  text-align: center;
  overflow: hidden;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 48px;
}

.product-description{
  padding: 16px;
  margin: 16px 0;
}

.product-img-1{
  background-color: rgb(248, 249, 250);
  height: 400px;
  width: 80%;
  margin: auto;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.product-img-2 {
  background-color: rgb(0, 0, 0);
  height: 400px;
  width: 80%;
  margin: auto;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.product-image{
  width: 80%;
  height: 400px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.footer {
  min-height: 30vh;
  max-width: 100%;
  background-color:rgba(0, 0, 0, 0.85);
  padding: 48px 16px;
  margin: 0;
  color: rgb(108, 117, 125);
}

#contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#contact-col1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 0 16px;
  margin: auto;
}

#footer_link_logo,
#footer_link_home,
#footer_link_product,
#footer_link_contact{
  color: rgb(108, 117, 125);
  text-decoration: none solid rgb(108, 117, 125);
  margin-right: 16px;
}